apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: statusquarkusio-bf7k
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/e2e-demos-qqlj-tenant/status-quarkus-io/statusquarkusio-bf7k@sha256:ef4c56fed19d02f260a560f30c2dd19e36896c8911f51547e754ad6c4bee7744
        name: my-java-quarkus
        resources: {}
status: {}
